.input {
  border: 0;

  &:focus,
  &:active {
    outline: none;
    border: 0;
  }
}

.bg-color-logo {
  color: white;
  background-color: #639bec;
}

.bg-color-gray_1 {
  background-color: #f8f8f8;
}

.bg-color-gray_2 {
  background-color: #f5f5f5;
}

.bg-color-gray_3 {
  background-color: #a6a6a6;
}

.bg-color-black {
  background-color: #4e4e4e;
}

.bg-color-blue_1 {
  background-color: #f6f8fc;
}

.bg-color-blue_2 {
  background-color: #516ef3;
}

.bg-color-green {
  background-color: #a2bcb1;
}

.bg-color-red {
  background-color: #d54244;
}
